body{
  padding: 0px 0px 0px 299px;
  margin: 0px 0px 0px 0px;
}

header{
  position: fixed;
  left: 0px;
  top:0px;
  bottom: 0px;
  width: 269px;
  background-color: rgb(4, 11, 20);
  display: flex;
  flex-direction: column;
  padding: 0px 15px 20px 15px;
}


.Profile-Picture{
  height: 160px;
}
.Profile-Img{
  width: 120px;
  border-radius: 70px;
  border-width: 8px;
  border-color: rgb(40, 46, 53);
  border-style: solid;
  margin: 15px 74px 15px 74px;
  box-sizing: border-box;
}

.Profile-Name{
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: white;
  text-align: start;
  height: 30px;
  margin-bottom: 10px;
  line-height: 16px;
}


.Social-Media-Links{
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0px 15px 0px 15px;
}
.Social-Media-Icon-Container{
  background-color: rgb(40, 46, 53);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 4px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(40, 46, 53);
}
.Social-Media-Icon-Container:hover{
  background-color: rgb(20, 157, 221);
  border-color: rgb(20, 157, 221);
}
.Social-Icon{
  height: 18px;
  width: 18px;
  border-radius: 5px;
  color: white;
}


.Navigation-Section{
  display: flex;
  flex-direction: column;
  height: 200px;
}
.Navigation-Part{
  height: 30px;
  padding: 15px 10px 15px 10px;
  display: flex;
  text-wrap-mode: nowrap;
  text-align: left;
  align-items: center;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s;
}
.Navigation-Part:hover p{
  color: white;
}
.Navigation-Part:hover .Navigation-Icon{
  color: rgb(20, 157, 221);
}
.Navigation-Part p{
  text-align: top;
  color: rgb(184, 193, 201);
}
.Navigation-Icon-Container{
  width:20px;
  height: 20px;
  margin-right: 10px;
}
.Navigation-Icon{
  height: 20px;
  width: 20px;
  color: rgb(184, 193, 201);
}
@media (max-width: 1200px) {
  body {
    padding-left: 0; /* plus de navbar = plus besoin de l'espace */
  }
  .header {
    display: none;
  }
}



.Hero-Section {
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  min-height: 395px;
  height: 695px;
  overflow-x: clip;
  overflow-y: clip;
  background-color: rgb(4, 11, 20);
}
.Hero-Section-Background{
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.Hero-Overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(4, 11, 20);
  opacity: 0.3;
}
.Hero-Text-Container{
  z-index: 2;
  text-align: Start;
  line-height: 0px;
  padding: 0px 12px 0px 12px;
}
.Hero-Name{
  font-family: Raleway, sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: white;
}
.Hero-Description-Text{
  font-size: 28px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.About-Section{
  min-height: 395px;
  height: 626px;
  display: flex;
  flex-direction: column;
  padding: 60px 0px 60px 0px;
}
.About-Title-Container{
  height: 130px;
  padding: 0px 12px 60px 12px;
  display: flex;
  flex-direction: column;
  line-height: 24px;
  justify-content: start;
  align-items: start;
  text-align: top;
}
.About-Title-Header2{
  font-size: 35px;
  font-family: Raleway, sans-serif;
  height: 35px;
  margin: 3px 0px 0px 0px;
}
.About-Title-Header22{
  font-size: 35px;
  font-family: Raleway, sans-serif;
  height: 35px;
  margin: 5px 0px 10px 0px;
}
.GG{
  background-color: #1b9cdc;
  color: #1b9cdc;
}
.About-Title-Paragraph{
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  flex: 1;
}

.About-Contents-Container{
  flex: 1;
  display: flex;
}
.About-Content-Image{
  flex: 1;
  padding: 0px 12px 0px 12px;
}
.About-Content-Image img{
  width: 100%;
}
.About-Content-Infos{
  flex: 2;
  padding: 0px 12px 0px 12px;
}
.About-Content-Infos-Title{
  height: 28.8px;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}
.About-Content-Infos-Text{
  height: 46px;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: italic;
  padding: 16px 0px 16px 0px;
  margin-bottom: 16px;
}

.About-Content-Infos-Details{
  height: 176px;
  display: flex;
}
.About-Content-Infos-Details-Left{
  flex: 1;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
}
.About-Content-Infos-Details-Right{
  flex: 1;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
}
.About-Content-Infos-Details-Element{
  display: flex;
  margin-bottom: 20px;
  height: 24px;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.About-Content-Infos-Details-Element svg {
  color: #1b9cdc;
  margin-right: 5px;
}
.About-Content-Infos-Details-Element strong{
  margin-right: 10px;
  font-size: 16px;
}
.About-Content-Infos-Details-Element span{
  font-size: 16px;
}
.About-Content-Infos-Text2{
  height: 66px;
  padding: 16px 0px 16px 0px;
  margin-bottom: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}



